/*-----| HTML, Body |-----*/
html {
    font-size: 12px;
}


/*----| Header |----- */
header {
    
    .container{
        nav{
            ul{
                flex-wrap: wrap;
                li{
                    width: 33%;
                    margin: 0 0 0.5rem;                    
                }
            }
        }       
    }
    
}



/*----| Footer |----- */
footer {
    .container {

        .copyright {
            font-size: 1.3rem;
        }

        .SocialLinks {
            ul {
                display: flex;

                li {
                    a {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

/*----| Banner |----- */
.bannerWrap {
    .banner {
        .advtSection {
            width: 90%;
            margin: 3rem auto;

            .icon {
                width: 59px;

                span {
                    top: 22%;
                }
            }

            .advtCont {
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}



/*----| GreyBox | ------*/
.greyBox {
    .tabLiks {
        ul {
            li {
                button {
                    font-size: 1.2rem;
                    padding: 1.2rem 1.2rem;
                }
            }
        }
    }
}

/*----| pageContent | ------*/
main{
    min-height: calc(100vh - 261px)
}

/*----| Table | ------*/
.tableResponsive {
    .table {
        tr {
            th {
                font-size: 1.3rem;
            }

            td {
                font-size: 1.2rem;
            }
        }
    }
}

/*----| Modal | ------*/
.modal {
    &.modal-sm {
        width: 96%;
    }
}