/*-----| HTML, Body |-----*/
html {
    font-size: 12px;
}

.container {
    width: 96%;
}

/*----| Header |----- */
header {
    
    .container{
        flex-direction:column ;
        .logo {
            font-size: 2.8rem;
        }
        nav{
            padding: 1rem  0 0;
            ul{
                li{
                    a{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        svg{
                            padding: 0 0 0.5rem;
                        }
                    }
                }
            }
        }       
    }
    
}

/*----| Banner |----- */
.bannerWrap {
    .banner {
        .advtSection {
            width: 40%;
            margin: 5rem auto;
            float: none;

            .icon {
                width: 54px;
                height: 34px;
                padding: 0.5rem 0 0;

                span {
                    font-size: 0.7rem;
                    left: 45%;
                    top: 24%;
                }
            }
        }
    }

    .bannerBottom {
        flex-direction: column;

        .titleSection {
            width: 100%;
            justify-content: center;
        }

        .formWrap {
            width: 100%;

            form {
                padding: 1rem;
                width: calc(100% - 2rem);

                button {
                    right: 2.2rem;
                }
            }
        }
    }
}

/*----| pageContent | ------*/
main {
    min-height: calc(100vh - 205px);
}


/*----| Modal | ------*/
.modal {
    &.modal-sm {
        width: 350px;
    }
}