/*----| Color |------*/
$bodyBG:#FFF;
$primeColor:#ae275f;
$succesColor:#27ae5b;
$secondColor:#e9e9e9;
$primeText:#282828;
$secondText:#767676;
$headText:#232323;
$labelColor:#323232;
$border:#cacaca;
$tabBorder:#d1d1d1;
$activeTab:#a7a7a7;
$trBG:#f1f1f1;
$activeNav:#e49ebb;
