/* Fonts */
@import 'base';

/*----| Header |----- */
header {
    background: $primeColor;
    background: linear-gradient(90deg, rgba(236, 17, 101, 1) 0%, rgba(174, 39, 95, 1) 38%, rgba(174, 39, 95, 1) 100%);
    padding: 0.5rem 0;
    .container{
        @include flexCont;

        .logo {
            font-family: 'Segoe Script', Arial, sans-serif;
            font-weight: 700;
            font-size: 3.3rem;
    
            a {
                color: $bodyBG;
            }
        }
    
        nav{
            ul{
                display: flex;
                li{
                    margin: 0 0.5rem;
                    a{
                        display: block;
                        padding: 0.5rem;
                        color: $bodyBG;
                        transition: color ease 0.5s;
                        &:hover{
                            color:$tabBorder;
                        }
                        &.active{
                            color: $activeNav;
                        }
                    }
                }
            }
        }
    }

    
}

/*----| Footer |----- */
footer {
    background: $secondColor;
    padding: 2.5rem 0;

    .container {
        @include flexCont;

        .copyright {
            font-family: 'Futura BT Light', sans-serif;
            color: $primeColor;
            text-decoration: underline;
        }

        .SocialLinks {
            ul {
                display: flex;

                li {
                    margin: 0 0.5rem;

                    a {
                        display: block;
                        width: 24px;
                        height: 24px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}



/*----| Banner |----- */
.bannerWrap {
    .banner {
        width: 100%;
        background: url(../Assets/images/banner.png) no-repeat;
        background-size: 100% auto;

        .advtSection {
            width: 30%;
            max-width: 310px;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 1.7rem 1.5rem;
            display: flex;
            justify-content: space-between;
            margin: 21rem 0;
            float: right;

            .icon {
                color: $primeColor;
                margin-right: 8px;
                font-size: 2.2rem;
                border: 1px solid $primeColor;
                border-radius: 50%;
                width: 64px;
                height: 38px;
                position: relative;
                display: block;
                padding: 0.2rem 0 0;
                text-align: center;
                margin-top: -0.2rem;

                span {
                    font-size: 0.8rem;
                    position: absolute;
                    left: 44%;
                    top: 17%;
                    font-family: 'Futura BT Bold';
                }
            }

            .advtCont {
                color: $headText;
                font-family: 'Futura BT Medium';

                h4 {
                    padding: 0 0 0.5rem;
                }

                p {
                    font-size: 0.85rem;
                }
            }

        }
    }

    .bannerBottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;

        .titleSection {
            width: 35%;
            background: rgba(22, 22, 22, 0.9);
            display: flex;
            align-items: center;
            justify-content: flex-end;

            h2 {
                color: $bodyBG;
                padding: 2rem;
                font-family: 'Futura BT Bold';               
            }
        }

        .formWrap {
            width: 65%;
            ;
            background-color: rgba(255, 255, 255, 0.95);

            form {
                padding: 1.2rem 1rem 0.4rem 2rem;
                width: 82%;
                position: relative;

                h4 {
                    color: $primeColor;
                    font-family: 'Futura BT Medium';
                    padding: 0 0 1rem;
                    font-size: 1rem;
                }

                .formGroup {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 -2%;

                    .formElem {
                        width: 29%;
                        padding: 0 0 1.2rem;
                        margin: 0 2%;


                        .react-datepicker-wrapper {
                            width: 100%;

                            input {
                                background-image: url('../Assets/images/datepicker.png');
                                background-position: 95% 46%;
                                background-size: 0.9rem auto;
                                background-repeat: no-repeat;
                            }
                        }


                    }
                }

                button {
                    position: absolute;
                    bottom: -1.3rem;
                    color: $primeColor;
                    right: 2.3rem;
                    z-index: 1;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 1.7rem solid transparent;
                    border-right: 1.7rem solid transparent;
                    border-top: 1.7rem solid rgba(255, 255, 255, 0.95);
                    bottom: -1.6rem;
                    right: 1rem;
                }
            }
        }
    }
}



/*----| GreyBox | ------*/
.greyBox {
    background-color: $secondColor;
    padding: 2rem 0 0;
    margin-bottom: 3rem;

    p {
        font-size: 1.4rem;
        color: $primeText;
        font-family: 'Futura BT Light';
        padding: 0 0 1.5rem;
    }

    .tabLiks {
        ul {
            display: flex;
            font-size: 0;

            li {
                button {
                    border: 1px solid $tabBorder;
                    color: $headText;
                    display: block;
                    font-family: 'Futura BT Light';
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    padding: 1.2rem 2.3rem;
                    transition: ease all 0.2s;
                    position: relative;

                    &.active {
                        border: 1px solid $activeTab;
                        font-family: 'Futura BT Medium';
                        color: $primeColor;

                        &:after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: 1rem solid transparent;
                            border-right: 1rem solid transparent;
                            border-top: 1rem solid $secondColor;
                            bottom: -1rem;
                            left: 1.5rem;
                            z-index: 2;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: 1.2rem solid transparent;
                            border-right: 1.2rem solid transparent;
                            border-top: 1.1rem solid $activeTab;
                            bottom: -1.1rem;
                            left: 1.35rem;
                            z-index: 1;
                        }
                    }

                    &:hover {
                        border: 1px solid $activeTab;
                    }

                }

            }
        }
    }
}

/*----| pageContent | ------*/
main{
    min-height: calc(100vh - 182px)
}

.pageContent {
    overflow: hidden;
    .pageHeader{
        background: $trBG;
        padding: 1.2rem 0;
        box-shadow: 0 0 1px $primeColor;
        margin: 0 0 2rem;
        .container{
            @include flexCont;            
            p{font-size: 1.3rem;}
            
        }
        
    }

    .tabItem {
        display: none;

        h3 {           
            padding: 0 0 1rem;
        }

        p {
            padding: 0 0 1rem;
        }
    }

    .tabItem.active {
        display: block;
    }

    .accordionSection {
        padding: 0 0 1rem;
        font-family: 'Futura BT Light';

        .accordionTitle {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $secondColor;
            padding: 0.2rem 0.5rem 0.5rem 0;
            color: $headText;
            font-size: 1.3rem;
            margin: 0 0 0.5rem;
            cursor: pointer;

            svg {
                color: $primeColor;
                font-size: 1rem;
            }

            &.active {
                color: $primeColor;
            }
        }

        .accordItem {
            overflow: hidden;

            .accordCont {
                font-size: 1.1rem;
                color: $secondText;
            }

        }

    }
}

/*----| Table | ------*/
.tableResponsive {
    width: 100%;
    overflow-x: auto;
    padding: 0 0 2rem;

    .table {
        width: 100%;
        border-collapse: collapse;

        tr {
            th {
                border-bottom: 1px solid $activeTab;
                text-align: left;
                font-size: 1.1rem;
                padding: 0.5rem;
                color: $headText;
            }

            td {
                padding: 0.5rem;
                font-size: 1.2rem;

                &:last-child {
                    white-space: nowrap;
                }
            }

            &:nth-child(even) {
                background-color: $trBG;
            }
            &.active{background-color:$activeNav;}
        }
    }
}


/*----| Modal | ------*/
.modal {
    border-radius: 6px;

    &.modal-sm {
        width: 450px;
    }

    .modalHeader {
        background: $primeColor;
        padding: 0.8rem 1rem;
        color: $bodyBG;
        font-size: 1.2rem;
        font-family: 'Futura BT';
    }

    .modalBody {
        background: $bodyBG;
        padding: 1rem;

        h4 {
            color: $primeText;           
            font-family: 'Futura BT Bold';
        }

        p {
            color: $secondText;
            font-size: 1.1rem;
            font-family: 'Futura BT Medium';
        }
    }

    .modalFooter {
        border-top: 1px solid $border;
        padding: 1rem;
        background: $bodyBG;
        text-align: right;
    }
}


/*----| Flights |------*/
.blockCont{
    display: flex; flex-wrap: wrap;
    .imgWrap{
        width:180px;
        img{width: 100%;}
        .title{font-size: 1.2rem; padding: 0.5rem 0 0;}
    }
    .contentWrap{
        width:calc(100% - 190px);
        margin-left: 10px;
    }

    border:1px solid $activeTab;
    padding: 10px;
    margin:0 0 1rem;
}


/*----| Buses |------*/
.card{
    border:1px solid $activeTab;
    margin:0 0 1rem;
    .cardHeader{
        display: flex;
        background-color: $primeColor; justify-content: space-between;
        h4{font-size: 1.5rem; color:$secondColor; padding: 0.5rem;
            width: 75%; text-overflow: ellipsis;  white-space: nowrap;
            overflow: hidden;}
        button{color:$secondColor; padding: 0.5rem;
            font-size: 1.2rem;
            &:hover{box-shadow: none;}
        }
    }
    .cardBody{
        padding: 1%;
        .imgWrap{
            img{width: 100%;}
        }
    }
    .cardFooter{
        padding: 0.5rem;
        border-top:1px solid $activeTab
    } 
}

.cardDetail{
    display: flex; flex-wrap: wrap;
    .imgWrap{width:250px; margin-right:10px;
        img{width: 100%;}
    }
    .contentWrap{
        width:calc(100% - 260px);
        .price{
            span{margin-right:30px;}
        }
        .descipt{font-size: 1.5rem;}

    }
}


/*----| Responsive Styles | ------*/
@media only screen and (max-width: 1400px) {
    @import '1400';
}

@media only screen and (max-width: 1024px) {
    @import '1024';
}

@media only screen and (max-width: 768px) {
    @import '768';
}

@media only screen and (max-width: 640px) {
    @import '640';
}

@media only screen and (max-width: 540px) {
    @import '540';
}

@media only screen and (max-width: 375px) {
    @import '375';
}